
@media only screen and (min-width: 600px)
{body, html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradientBG 15s ease infinite;
    margin: 0;
    padding: 0;
}
 
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 20px;
    width: 320px;
    
}
.display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background:#20b2aa ;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.buttons {
    padding: 20px 20px 0 20px;
}
.row {
    width: 280px;
    float: left;
}
input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;
    
}
input[type=text] {
    width: 270px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
    
}
.red {
    background: #20b2aa  !important;
    color: #ffffff !important;
    
}}
 @media only screen and (max-width: 600px)
 {
     body, html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradientBG 15s ease infinite;
    margin: 0;
    padding: 0;
}
 
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
    padding-bottom: 10px;
    width: 160px;
    
}
.display {
    width: 100%;
    height: 50%;
    padding: 20px 0;
    background:#20b2aa ;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.buttons {
    padding: 10px 10px 0 10px;
}
.row {
    width: 140px;
    float: left;
}
input[type=button] {
    width: 30px;
    height: 30px;
    float: left;
    padding: 0;
    margin: 2.5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-weight: 350;
    color: #5E5858;
    cursor: pointer;
    
}
input[type=text] {
    width: 135px;
    height: 30px;
    float: left;
    padding: 0;

    box-sizing: border-box;
    border: none;
    background: none;
    color: #ffffff;
    text-align: right;
    font-weight: 350;
    font-size: 30px;
    line-height: 30px;
    margin: -10px 12.5px;
    
    
}
.red {
    background: #20b2aa  !important;
    color: #ffffff !important;
    
}
 }
